.page-bg-two-thirds {
  background: rgb(223,219,208);
  background: linear-gradient(90deg, 
    rgba(223,219,208,1) 0%, 
    rgb(241, 235, 225) 38%, 
    rgba(215,211,202,1) 59%, 
    rgba(161,153,139,1) 64%,
    rgb(139, 133, 121) 66%, 
    rgb(180, 176, 166) 68%,
    rgb(235, 229, 218) 70%,
    rgba(247,243,231,1) 76%, 
    rgba(219,218,207,1) 86%, 
    rgba(224,223,213,1) 100%); 
}

.page-bg-div-left {
  width: 100%;
  position: fixed;
  right: 38%;
  top: -50%;
}

.page-bg-div-right {
  width: 100%;
  position: fixed;
  left: 70%;
  top: -50%;
}